[Unit]
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/fluent-bit-init.sh

[Install]
WantedBy=fluent-bit.service
